/*Björn*/
.autocomplete-suggestions {
  /*-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #999;
  box-sizing: border-box;*/
  background: #FFF;
  cursor: default;
  overflow-y: auto;

  /*overflow: auto;
  -webkit-box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);*/
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
/*autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}*/
.autocomplete-no-suggestion {
  padding: 2px 5px;
}

.autocomplete{

  color:green;
}
.autocomplete-selected {
  background: #F0F0F0;
}
/*.autocomplete-suggestions strong {
  font-weight: bold;
  color: #000;
}*/
.autocomplete-group {
  padding: 2px;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  font-variant: small-caps;
  text-align: center;
  color: green;
  display: block;
  border-bottom: 2px solid #000;
}
