header{

  background-color: lightgrey;
  color:white;
  position: relative;
  margin-bottom: 1vh;
  height: 10vh;
}

asside{
  display: inline-block;
  position: absolute;
  left:0;
  width: 7vw;

}

html{
overflow-y: hidden;
overflow-x: hidden;
}


.scrollspy{

      display: inline-block;
      overflow-y: auto;
      height: 90vh;
      overflow-x: hidden;
      width:92vw;

    }

    .divArtikel{
      background-color: #57EF84;
      margin-bottom: 1em;
    }
    .divBild{
      overflow: hidden;
    }
    .divBild>img{
      height: 120px;
      width: 200px;
    }

    .spanArtikelTitel{
      font-weight: bolder;
    }
    .divOrder{
      position: absolute;
      bottom: 0;
      padding-right: 2em;
      width: 100%;

    }
    .buttonBestellen{
      display: inline-block;
      float: right;
      margin-right: 3px;
    }
    .spanPreis{
        display: inline-block;
    }


/*    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}*/
header h1{
display: inline-block;

}



header img{
width: 3em;
height: 3em;


}


@media (min-width:600px){
  #nav_small{
    display: none ;
  }

  .scrollspy{
    margin-left: 150px;
  }
}






@media (max-width: 600px){
  #nav_large{
    display: none;
  }

  #header_large{

    display: none;
  }

  .scrollspy{
width: 100vw;

  }

header{ height:0%;}

.navbar{margin-bottom: 0px;}

.divBild>img{
  height: 90px;
  width: 150px;
}

  header img{
  width: 2em;
  height: 2em;
  float:left;
  }
}
