
asside{
  display: inline-block;
  float:left;
  width: 7vw;
  min-width: 15ex;
  margin-right: 1ex;


}

.autocomplete{

border: none;


}

#head{
  float:right;
}

header img{
width: 2em;
height: 2em;
float:left;
}

html{
overflow-y: hidden;
overflow-x: hidden;
}


.scrollspy{

      display: inline-block;
      overflow-y: auto;
      height: 90vh;
      overflow-x: hidden;
      width: 92vw;
      float: right;

    }

    .divArtikel{
      background-color: #57EF84;
      margin-bottom: 1em;
    }

.divBild{overflow: hidden;}
    .divBild>img{
      height: 120px;
      width: 200px;

    }


    .spanArtikelTitel{
      font-weight: bolder;
    }

    .divOrder{

    }
    .buttonBestellen{

      float: right;
      margin-right: 3px;
    }





/*    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}*/


@media (min-width:576px) and (max-width: 601px ){

    .scrollspy{  width: 79vw;  }

}
@media (min-width:601px) and (max-width: 702px ){

    .scrollspy{  width: 80vw;  }

}
@media (min-width:702px) and (max-width: 802px ){

    .scrollspy{  width: 82vw;  }

}
@media (min-width:802px) and (max-width: 902px ){

    .scrollspy{  width: 84vw;  }

}
@media (min-width:902px) and (max-width: 1002px ){

    .scrollspy{  width: 86vw;  }

}
@media (min-width:1002px) and (max-width: 1102px ){

    .scrollspy{  width: 88vw;  }

}
@media (min-width:1102px) and (max-width: 1202px ){

    .scrollspy{  width: 89vw;  }

}
@media (min-width:1202px) and (max-width: 1302px ){

    .scrollspy{  width: 90vw;  }

}
@media (min-width:1302px) and (max-width: 1470px ){

    .scrollspy{  width: 91vw;  }

}








@media (min-width:576px){
  #nav_small_ul{
    display: none ;
  }


}

@media (max-width: 575.9px){
  #nav_large{
    display: none;
  }

  html{
overflow-y: auto;

  }

  .scrollspy{
width: 100vw;
height: auto;
  }


.divBild>img{
  height: 90px;
  width: 160px;
}


}
