body {
    background-color: dimgray;
}
.feld{
	height:160px;
	width:300px;
	border:1px solid black;
	background-color: green;
	animation: change 4s step-end both;
}
.feldNeu{
    color:white;
    height:160px;
	width:300px;
	border:1px solid white;
	background-color: blue;
}

@keyframes change {
    from { background-color: green }
    to   { background-color: red }
}
