header{

  background-color: lightgrey;
  color:white;
  position: absolute;
  top:0;
  right:0;
  left:0;
  padding-bottom: 1em;


}

#nav_large{

  display: inline-block;
}

main{




}


.scrollspy{

      display: inline-block;



    }


    .divArtikel{
      height: 120px;
      overflow: hidden;
      background-color: lightgrey;
      margin-bottom: 1em;
    }
    .divBild{
      overflow: hidden;
    }
    .divBild>img{
      height: 120px;
      width: 200px;
    }
    .divArtikelDetails{
      height: 120px;
    }
    .spanArtikelTitel{
      font-weight: bolder;
    }
    .divOrder{
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-right: 2em;

    }
    .buttonBestellen{
      display: inline-block;
      float: right;
    }
    .spanPreis{
        display: inline-block;
    }


/*    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}*/
header h1{
display: inline-block;

}



header img{
width: 3em;
height: 3em;


}


@media (min-width:800px){
  #nav_small{
    display: none ;
  }

  .scrollspy{
    margin-left: 150px;
  }
}


@media (max-width: 800px){
  #nav_large{
    display: none;
  }

  #header_large{

    display: none;
  }

  header img{
  width: 2em;
  height: 2em;
  }
}
