header{

  background-color: lightgrey;
  color:white;
  position: relative;
  margin-bottom: 1vh;
  height: 10vh;


}

asside{
  display: inline-block;
  float:left;
  width: 7vw;
  min-width: 15ex;
  margin-right: 1ex;


}

html{
overflow-y: hidden;
overflow-x: hidden;
}


.scrollspy{

      display: inline-block;
      overflow-y: auto;
      height: 90vh;
      overflow-x: hidden;
      width: 92vw;
      float: right;

    }

    .divArtikel{
      background-color: #57EF84;
      margin-bottom: 1em;
    }

.divBild{overflow: hidden;}
    .divBild>img{
      height: 120px;
      width: 200px;

    }


    .spanArtikelTitel{
      font-weight: bolder;
    }

    .divOrder{

    }
    .buttonBestellen{

      float: right;
      margin-right: 3px;
    }



/*    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}*/
header h1{
display: inline-block;

}



header img{
width: 3em;
height: 3em;


}



@media (min-width:601px) and (max-width: 701px ){

    .scrollspy{  width: 80vw;  }

}
@media (min-width:702px) and (max-width: 801px ){

    .scrollspy{  width: 82vw;  }

}
@media (min-width:802px) and (max-width: 901px ){

    .scrollspy{  width: 84vw;  }

}
@media (min-width:902px) and (max-width: 1001px ){

    .scrollspy{  width: 86vw;  }

}
@media (min-width:1002px) and (max-width: 1101px ){

    .scrollspy{  width: 88vw;  }

}
@media (min-width:1102px) and (max-width: 1201px ){

    .scrollspy{  width: 89vw;  }

}
@media (min-width:1202px) and (max-width: 1301px ){

    .scrollspy{  width: 90vw;  }

}
@media (min-width:1302px) and (max-width: 1470px ){

    .scrollspy{  width: 91vw;  }

}








@media (min-width:601px){
  #nav_small{
    display: none ;
  }


  header{min-height: 10ex;}
}



@media (max-width: 600px){
  #nav_large{
    display: none;
  }

  #header_large{

    display: none;
  }

  .scrollspy{
width: 100vw;

  }

header{ height:0%;}

.navbar{margin-bottom: 0px;}

.divBild>img{
  height: 90px;
  width: 160px;
}

  header img{
  width: 2em;
  height: 2em;
  float:left;
  }
}
