header{

  background-color: lightgrey;
  color:white;
  position: fixed;
  top:0;
  width: 100%;
  z-index:100;

}

body {
  position: relative;
  width:100%;
  margin-top: 4em;
  z-index:200;
}


footer {

  background-color: black;
  color:white;
  height: 2em;


}





.scrollspy{

      display: block;
      position: relative;


      height: autox;
      width:100%;

      overflow: auto;
      overflow-x: auto;
      overflow-y: auto;

    }

    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}
header h1{
display: inline-block;

}



header img{
width: 3em;
height: 3em;


}

#list{
display: inline-block;
width: 140px;
margin-top: 2em;
position: fixed;
}

@media (min-width:800px){
  #nav_small{
    display: none ;
  }

  .scrollspy{
    margin-left: 150px;
  }
}


@media (max-width: 800px){
  #nav_large{
    display: none;
  }

  #header_large{

    display: none;
  }

  header img{
  width: 2em;
  height: 2em;
  }
}
