header{

background-color: lightgrey;
color:white;
padding-top: 3em;
padding-bottom: 3em;

}

body {
position: relative;

}


footer {

  background-color: black;
  color:white;
  padding-top: 3em;
  padding-bottom: 3em;


}

#list{
display: inline-block;
width: 140px;
margin-top: 2em;
position: fixed;
}

.scrollspy{

      display: inline-block;
      position: relative;
      margin-left: 150px;

      height: 450px;
      width:90%;
      overflow: auto;
      overflow-x: auto;
      overflow-y: auto;

    }

    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

div img{
  width: 80px;
}
header h1{
display: inline-block;

}

header img{
width: 5em;
height: 5em;


}
