header{

background-color: black;
color:white;
padding-top: 3em;
padding-bottom: 3em;

}

body {
position: relative;

}


footer {

  background-color: black;
  color:white;
  padding-top: 3em;
  padding-bottom: 3em;


}

#list{
display: inline-block;
<<<<<<< HEAD
width: 140px;
margin-top: 2em;
position: fixed;
=======
width: 9%;

>>>>>>> f509622b4f1beaf72f167011555fe542f17fe7a3
}

.scrollspy{

      display: inline-block;
      position: relative;
      margin-left: 150px;

      height: 450px;
      width:90%;
      overflow: auto;
      overflow-x: auto;
      overflow-y: auto;

    }

    .Artikel{
background-color: lightgrey;
margin-bottom: 1em;


    }

img{
  width: 80px;
}
